.board{
    background-color:#ffab23;
    left: 50%;
    height: 250px;
    cursor:pointer;
}
.hide {
    display: none;
}
button {
	
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button:hover {
	background-color:#59ee0f;
}
button:active {
	position:relative;
	top:1px;
}
.easy {
    background-color:#c7c544;
}
.mid{
    background-color:#0a6f7c;
}
.hard {
    background-color:#e20f07;
}
.timer{
	background-color:#1850e9;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid #18ab29;
        display:inline-block;
        /* cursor:pointer; */
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
    
}

.nextNumber{
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    background-color:#75920b;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    position: absolute;
    top:26%;
    left: 10%;
}

